html {
    height: 100%;
}

body {
    height: 90%;
}

td {
    vertical-align: bottom;
}

.h-100-px {
    height: 100px;
}

.h-100-per {
    height: 100%;
}

.h-per-10 {
    height: 10%;
}

.w-200-px {
    width: 200px;
}

.img-editor {
    height: 100px;
    max-width: 200px;
}

.list-inline {
    margin-bottom: 0;
}

.w-details-image {
    width: 100%;
}

.w-details-table {
    width: 100%;
}

.w-69 {
    width: 69%;
}

.w-95 {
    width: 95%;
}

.w-99 {
    width: 99%;
}

.carousel-photo {
    max-width: 100%;
    max-height: 550px;
}

.carousel {
    margin: auto;
}

.carousel-inner img {
    margin: auto;
}

.bg-white {
    background-color: white;
}

.container {
    min-height: 100%;
    box-shadow: 0 0 20px gray;
    padding-top: 10px;
}

.img-gallery {
    height: 200px;
}

.img-newsfeed {
    max-height: 300px;
    max-width: 100%;
}

.d-newsfeed {
    padding: 20px 0 20px 0;
    border-bottom:2px solid #CCCCCC;
}

.d-newsfeed-imagewrapper {
    width: 30%;
    text-align: center;
}

.newsfeed-timestamp {
    float: right;
    color: #CCCCCC;
}

@media only screen and (min-width: 1024px) {
    .d-inline-responsive {
        display: inline-block;
    }

    .test {
        vertical-align: top;
    }

    .w-details-image {
        width: 60%;
    }

    .w-details-table {
        width: 35%;
    }
}

.wrapper-image-details {
    text-align: center;
}

.img-details {
    display: inline-block;
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
    margin: auto;
    padding: auto;
}

.gallery-wrapper {
    text-align: center;
}

.gallery-pagination {
    text-align: center;
}

.d-inline-flex {
    margin: 0 auto;
}