@model PotteryViewModel

@foreach (var p in Model.Elements)
{
    <div>
        <img src="@p.ImageUrl" />
        <p>@p.Name</p>
        <p>@p.ForSale</p>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="ListPottery" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
