@model GalleryElementsViewModel

<div class="container">
    <div class="gallery-wrapper">
        @foreach (var p in Model.Elements)
        {
            <div class="d-inline-flex">
                <a href="#">
                    <img class="gallery-img img-thumbnail" src="@p.ImageUri" />
                </a>
            </div>
        }
    </div>

    <div page-model="@Model.PagingInfo" page-action="ListOilPaintings" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-secondary"
         page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
</div>