@model ActionSuccessViewModel

<div class="w-100 text-center p-3">
    <h2 class="text-success">@Model.TextRepository.GetTranslatedValue(Model.Message, Context)</h2>
    <a href="@Model.ReturnUri" class="btn btn-primary">@Model.TextRepository.GetTranslatedValue("back_to_previous_page", Context)</a>
</div>