@model ViewModel

<div>
    <img class="w-25 float-left pr-3 pb-3" src="@Model.TextRepository.GetTranslatedValue("about_image_uri", Context)" />
    @foreach (string paragraph in @Model.TextRepository.GetTranslatedValue("about_text", Context).Split("\r\n"))
    {
        <p class="text-justify">@paragraph</p>
    }
</div>