@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/css/vendor.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/style.css" />
    <link rel="stylesheet" asp-href-include="~/css/dropdown.css" />
    <title>Urszula Figiel Art</title>
</head>
<body class="bg-light h-100">
    <div id="carouselExampleSlidesOnly" class="carousel slide h-100" data-ride="carousel" style="background-size: cover;">
        <div class="carousel-inner h-100" generate-slides></div>
    </div>
    <div class="entry-text">
        <h1>Urszula Figiel Art</h1>
    </div>
    <a href="/About" class="btn btn-primary entry-button">Przejdź do strony</a>
    <script>
        (function () {
            $('.carousel').carousel({
                interval: 4000
            });
        });
    </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/dropdown.js"></script>
</body>
</html>