@model User

<div class="p-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="EditUser" method="post">
        <div class="form-group">
            <label asp-for="Id">ID</label>
            <input asp-for="Id" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <input name="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Zatwierdź</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>