@using UFArt.Models.Gallery
@model ArtPieceCreationViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<form id="form" method="post" enctype="multipart/form-data" asp-controller="GalleryEditor" asp-action="UploadAsync">
    <div class="form-group">
        <label asp-for="ArtPiece.Name">Nazwa/tytuł:</label>
        <input asp-for="ArtPiece.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ArtPiece.Description">Opis:</label>
        <input asp-for="ArtPiece.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ArtPiece.Dimensions">Wymiary/format:</label>
        <input asp-for="ArtPiece.Dimensions" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ArtPiece.Technique">Technika:</label>
        <select asp-for="ArtPiece.Technique"
                asp-items="@(new SelectList(Model.Techniques()))"
                class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ArtPiece.CreationDate">Data powstania:</label>
        <input asp-for="ArtPiece.CreationDate" placeholder="mm-rrrr" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ArtPiece.ForSale">Dostępny na sprzedaż:</label>
        <input asp-for="ArtPiece.ForSale" />
    </div>
    <div class="form-group">
        <label asp-for"@ArtPiece.ImageUri">Wybierz zdjęcie:</label>
        <input type="file" class="btn" id="file" name="files" />
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Zatwierdź" />
    </div>
</form>